.color-selector {
    display: flex;
    justify-content: center;
}

.color-selector__orange {
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__orange:hover {
    cursor: pointer;
}

.color-selector__purple {
    background-color: purple;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__purple:hover {
    cursor: pointer;
}

.color-selector__black {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__black:hover {
    cursor: pointer;
}

.color-selector__white {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__white:hover {
    cursor: pointer;
}

.color-selector__blue {
    background-color: blue;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__blue:hover {
    cursor: pointer;
}

.color-selector__yellow {
    background-color: yellow;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__yellow:hover {
    cursor: pointer;
}

.color-selector__green {
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__green:hover {
    cursor: pointer;
}

.color-selector__red {
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.color-selector__red:hover {
    cursor: pointer;
}