body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    max-width: 80vw;
    margin: 60px auto;
    background-color: #001B06;
}

button {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    color: #001B06;
    font-size: 20px;
    outline: none;
}

button:hover {
    cursor: pointer;
}